trades:
  coins:
    - name:       neo
      symbol:     NEO
      volume:     0.00001
      cost:       10.0
    - name:       bitcoin
      symbol:     BTC
      volume:     0.00001
      cost:       10.0
    - name:       etherium
      symbol:     ETH
      volume:     0.00001
      cost:       10.0
  stocks:
    -  name:       Apple
       symbol:     AAPL
       volume:     1
       cost:       100.00
